tests/
autom4te.cache/

Makefile
config.h
config.log
config.status
doc/Makefile
intl/Makefile
man/Makefile
po/Makefile
src/.deps/
src/Makefile
src/avgcalc
stamp-h1


# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
